<div class="splash-container">
  <%= image_tag "splash.png", class:"splash-icon" %>
  <div class="splash-item-container light-text">
    <a href="/users/sign_in", class="white-text blue-bg splash-btns">LOG IN</a>  
    <a href="/users/sign_up", class="gray-text splash-btns">SIGN UP</a>
  </div>
</div>