
<section  class="splash-page">
  <h1 class=" ">BUDGET APP</h1>

  <div class="splash-btns">
    <p class="splash-btn"><%= link_to 'LOG IN', new_user_session_path %></p>
    <p class="splash-btn"><%= link_to 'SIGN UP', new_user_registration_path %></p>
  </div>
</section >